#mytask {
  padding: 24px;
}

.header-dashboard {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.text-field {
  width: 450px;
  height: 56px;
  opacity: 1;
  border-radius: 18px;
  border: none;
  border-width: 1px;
  padding: 18px 24px 18px 56px;

  font-weight: 400;
  font-size: 14px;
  color: #9ca3af;
}

.wrapper {
  display: flex;
  gap: 36px;
}

.wrapper-btn {
  display: flex;
  align-items: center;
  gap: 42px;
}

.btn-newtask-bottom {
  font-size: 15px;
  width: 100%;
  height: 56px;
  border-radius: 32px;
  gap: 8px;
  border: 2px dashed #f1e9fe;
  color: #d1b9fa;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.avatar-pic {
  border-radius: 16px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.name-avatar {
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  text-align: right;
  vertical-align: middle;
  color: #1e293b;
}

.profile {
  display: flex;
  align-items: center;
  width: 171px;
  height: 48px;
  gap: 12px;
  padding-left: 24px;
  border-left: 2px solid #e2e8f0;
}

.wrapper-header {
  padding: 10px;
  margin-top: 2rem;
}

.header-mytasks {
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  letter-spacing: -2.64%;
  color: #1e293b;
}

.des-header {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -3.32%;
  vertical-align: middle;
  color: #64748b;
  margin-top: 0.5rem;
}

.table-mytasks {
  margin-top: 2rem;
}

.ant-table {
  border-radius: 32px;
  border-width: 1px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.ant-table-thead > tr > th {
  color: #94a3b8 !important;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ant-table-cell {
  font-weight: 700;
  font-size: 14px;
}

.dot-icon {
  display: flex;
  align-items: center;
}

.tag-priority {
  border-radius: 18px;
  padding: 0 12px;
}

.icon-calender {
  display: flex;
  align-items: center;
  gap: 8px;

  color: #94a3b8;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -3.71%;
  vertical-align: middle;
}
