#mytask {
  padding: 24px;
}

.header-dashboard {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.text-field {
  width: 450px;
  height: 56px;
  opacity: 1;
  border-radius: 18px;
  border: none;
  border-width: 1px;
  padding: 18px 24px 18px 56px;

  font-weight: 400;
  font-size: 14px;
  color: #9ca3af;
}

.wrapper {
  display: flex;
  gap: 36px;
}

.wrapper-btn {
  display: flex;
  align-items: center;
  gap: 42px;
}

.btn-newtask-bottom {
  font-size: 15px;
  width: 100%;
  height: 56px;
  border-radius: 32px;
  gap: 8px;
  border: 2px dashed #f1e9fe;
  color: #d1b9fa;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.avatar-pic {
  border-radius: 16px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.name-avatar {
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  text-align: right;
  vertical-align: middle;
  color: #1e293b;
}

.profile {
  display: flex;
  align-items: center;
  width: 171px;
  height: 48px;
  gap: 12px;
  padding-left: 24px;
  border-left: 2px solid #e2e8f0;
}

.wrapper-header {
  padding: 10px;
  margin-top: 2rem;
}

.header-mytasks {
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  letter-spacing: -2.64%;
  color: #1e293b;
}

.des-header {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -3.32%;
  vertical-align: middle;
  color: #64748b;
  margin-top: 0.5rem;
}

.table-mytasks {
  margin-top: 2rem;
}

.ant-table {
  border-radius: 32px;
  border-width: 1px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.ant-table-thead > tr > th {
  color: #94a3b8 !important;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ant-table-tbody > tr > td {
}

.ant-table-cell {
  font-weight: 700;
  font-size: 14px;
}

.dot-icon {
  display: flex;
  align-items: center;
}

.tag-priority {
  border-radius: 18px;
  padding: 0 12px;
}

.title-newtasks {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  letter-spacing: 0.98%;
  color: #1e293b;
}

.desc-newtasks {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: #64748b;
}

.icon-layers {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: #9966cc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-title-newtasks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.wrapper-form-newtasks {
  width: 100% !important;
  margin-top: 1.5rem;
}

.wrapper-title-newtasks {
  display: flex;
  flex-direction: column;
}

.form-taskname label {
  font-weight: 600;
  font-size: 12px !important;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #94a3b8 !important;
}

.input-taskname {
  height: 52px;
  border-radius: 12px;
  border-width: 1px;
  padding: 14px 16px;

  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.39%;
  display: flex;
  color: #94a3b8;
  border: 1px solid #e2e8f0;
}

.custom-select-planning {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  padding: 0 15px;
  color: #475569;
}

.title-name {
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #94a3b8;
  margin-bottom: 10px;
}

.custom-date .ant-picker-input input {
  height: 40px !important;
  display: flex;
  align-items: center;
}

.container-fill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-fill {
  display: flex;
  flex-direction: column;
}

.wrapper-status-prio {
  margin-top: 1rem;
}

.wrapper-btn-newtasks {
  display: flex;
  justify-content: space-between;
}

.btn-status,
.btn-priority {
  width: 120px;
  height: 32px;
  gap: 8px;
  border-radius: 8px;
  border-width: 1px;
  padding: 8px 12px;

  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  letter-spacing: 1.46%;
  color: #64748b;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #f1e9fe !important;
  }
}

.dot-purple,
.dot-blue,
.dot-green,
.dot-low,
.dot-medium,
.dot-high {
  width: 8px;
  height: 8px;
  border-radius: 50px;
}

.dot-purple {
  background-color: #9966cc;
}

.dot-blue {
  background-color: #60a5fa;
}

.dot-green {
  background-color: #10b981;
}

.dot-low {
  background-color: #34d399;
}

.dot-medium {
  background-color: #fbbf24;
}

.dot-high {
  background-color: #fb7185;
}

.desx-newtasks {
  width: 100%;
  height: 116px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  padding: 12px 16px 80px 16px;

  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #94a3b8 !important;

  &:hover {
    border: 1px solid #9966cc;
  }
}
