#register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    61.35% 86.28% at 50% 50%,
    #f1e9fe 0%,
    #ffffff 50%,
    #f8f4ff 100%
  );
}

.text-register {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
  vertical-align: middle;
  color: #542f70;
}

.header-register {
  display: flex;
  position: fixed;
  top: 2rem;
  left: 2rem;
  margin-bottom: 24px;
  gap: 12px;
  align-items: center;
}

.icon-register {
  border-radius: 8px;
  background-color: #9966cc;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-card {
  width: 480px;
  padding: 48px;
  gap: 40px;
  border-radius: 40px;
  border-width: 1px;

  background-color: #ffffffb2;
  box-shadow: 0px 20px 50px 0px #9966cc1a;

  backdrop-filter: blur(24px);
}

.title-register {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -1.27%;
  text-align: center;
  color: #1e293b;
}

.sub-title-register {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -3.42%;
  text-align: center;
  color: #64748b;
}

.wrapper-title-register {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wrapper-form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.box-form-register {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  color: #1e293b;
}

.input-field {
  height: 54px;
  border-radius: 16px;
  border: none;
  padding: 16px 20px;
  background-color: #ffffffcc;
}

.text-signin {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -1.46%;
  text-align: center;
  color: #9966cc;
}

.text-bottom {
  display: flex;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -1.56%;
  text-align: center;
  color: #64748b;
  gap: 5px;
}
