#settings {
  padding: 24px;
}

.header-setting {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.text-field-setting {
  width: 450px;
  height: 56px;
  opacity: 1;
  border-radius: 18px;
  border: none;
  border-width: 1px;
  padding: 18px 24px 18px 56px;

  font-weight: 400;
  font-size: 14px;
  color: #9ca3af;
  background-color: #ffffffb2;

  gap: 5px;
  transition: 0.2ms;
  &:hover {
    background-color: #ffffffb2;
  }
}

.wrapper {
  display: flex;
  gap: 36px;
}

.wrapper-btn {
  display: flex;
  align-items: center;
  gap: 42px;
}

.avatar-pic {
  border-radius: 16px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.name-avatar {
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  text-align: right;
  vertical-align: middle;
  color: #1e293b;
}

.profile {
  display: flex;
  align-items: center;
  width: 171px;
  height: 48px;
  gap: 12px;
  padding-left: 24px;
  border-left: 2px solid #e2e8f0;
}

.wrapper-content {
  display: flex;
  margin-top: 1.5rem;
}

.menu-settings {
  a {
    text-decoration: none;
    color: #64748b;
    width: 256px;
    height: 48px;
    border-radius: 16px;
    gap: 12px;
    padding: 16px 24px 16px 24px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.88%;
    display: flex;
    align-items: center;
    gap: 8px;

    &.active {
      color: #9966cc;
      background-color: #ffffffcc;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.wrapper-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile {
  width: 776px;
  height: 488px;
  border-radius: 32px;
  border-width: 1px;
  gap: 32px;
  padding: 32px;
  background-color: #ffffff;
}

#notifications {
  width: 372px;
  height: 240px;
  border-radius: 32px;
  border-width: 1px;
  gap: 24px;
  padding: 32px;
  background-color: #ffffff;
}

#appearance {
  width: 372px;
  height: 240px;
  border-radius: 32px;
  border-width: 1px;
  gap: 24px;
  padding: 32px;
  background-color: #ffffff;
}

#security {
  width: 776px;
  height: 150px;
  border-radius: 32px;
  border-width: 1px;
  gap: 24px;
  padding: 32px;
  background-color: #ffffff;
}

.wrapper-personal {
  display: flex;
  justify-content: space-between;
}

.personal-profile {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  letter-spacing: -0.39%;
  color: #334155;
  display: flex;
  align-items: center;
}

.btn-save {
  width: 144px;
  height: 36px;
  border-radius: 12px;
  border: none;
  background-color: #9966cc;
  color: #fff;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.49%;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background-color: #bda0da;
  }
}

.wrapper-avatar {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
}

.wrapper-pic {
  width: 105px;
  height: 105px;
  border-radius: 28px;
  border-width: 4px;
  background-color: #ffffff01;
  box-shadow: 0px 2px 4px -2px #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic {
  border-radius: 28px;
  width: 96px;
  height: 96px;
  border-width: 4px;
  object-fit: cover;
}

.wrapper-name {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.name {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  letter-spacing: -0.39%;
  color: #1e293b;
}

.message {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  letter-spacing: -3.32%;
  color: #64748b;
  margin-top: 0.2rem;
}

.information {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.header-infor {
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #94a3b8;
}

.field-name {
  width: 343px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid #f1f5f9;
  padding: 12px 20px 12px 20px;
  font-weight: 500;
  font-size: 14px;
  margin-top: 0.7rem;
  outline: none;
  transition: 0.3s;

  &:focus {
    border: 1px solid #9966cc;
  }
}

.wrapper-bio {
  margin-top: 1.5rem;
}

.field-bio {
  width: 710px;
  height: 96px;
  border-radius: 10px;
  border: 1px solid #f1f5f9;
  padding: 12px 20px;

  font-weight: 500;
  font-size: 14px;
  margin-top: 0.7rem;
  text-align: left;
  vertical-align: top;
  outline: none;
  transition: 0.3s;

  &:focus {
    border: 1px solid #9966cc;
  }
}

.wrapper-noti-app {
  display: flex;
  justify-content: space-between;
}

.header {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  color: #334155;
}

.box-pass {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.box-box {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.wrapper-icon {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: #f1e9fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-pass {
  display: flex;
  flex-direction: column;
}

.password {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -1.37%;
  color: #1e293b;
}

.desc-pass {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -3.32%;
  color: #64748b;
}

.btn-pass {
  width: 136px;
  height: 32px;
  border-radius: 12px;
  border-width: 1px;

  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -1.37%;

  color: #475569;
  border: 1px solid #e2e8f0;
  background-color: #ffffff;

  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background-color: #e2e8f0;
  }
}

.wrapper-details {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 0.2rem;
}

.topic {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.59%;
  color: #1e293b;
}

.sub-detail {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -2.64%;
  color: #64748b;
}

.theme-selection {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #94a3b8;
  margin-top: 1.5rem;
}

.theme-color {
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
}

.theme-white,
.theme-amethyst,
.theme-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.theme-name {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.37%;
  color: #475569;
}

.white,
.amethyst,
.dark {
  width: 94px;
  height: 64px;
  border-radius: 12px;
  border-width: 1px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  background-color: #ffffff;
  border: 1px solid #f1f5f9;
}
.amethyst {
  background-color: #1e293b;
  /* border: 2px solid #9966cc; */
}
.dark {
  background-color: #000000;
}

.in-white,
.in-amethyst,
.in-dark {
  width: 32px;
  height: 8px;
  border-radius: 9999px;
}
.in-white {
  border: 1px solid #f1f5f9;
  background-color: #f1f5f9;
}
.in-amethyst {
  background-color: #475569;
}
.in-dark {
  background-color: #1e293b;
}

.change-avatar {
  border-radius: 8px;
  border: 2px solid #f1f5f9;
  margin-top: 7px;
  padding: 2px 8px;
  font-size: 12px;
  outline: none;
  transition: 0.3s;

  &:focus {
    border: 1px solid #9966cc;
  }
}

.ant-modal .ant-modal-container {
  border-radius: 32px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper-change-password-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
}

.change-password-form-item label {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 12px !important;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #94a3b8 !important;
}

.btn-update-password {
  height: 51px;
  border-radius: 16px;
  padding: 14px 0px;
  margin-top: 1rem;
  box-shadow: 0px 4px 12px 0px #9966cc4d;
}

.btn-cancel-password {
  height: 51px;
  padding: 0 14px;
  border-radius: 16px;
  border-width: 1px;
  margin-top: 0.7rem;

  font-weight: 600;
  font-style: Semi Bold;
  font-size: 15px;
  color: #64748b;
}

.ant-modal-body {
  display: flex;
  flex-direction: column;
}

.input-field-password {
  height: 42px;
  border-radius: 16px;
  padding: 12px 20px;
  background-color: #f1f5f980;
  border: none;
}

.desc-changepass {
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  color: #64748b;
  margin-top: 1.5rem;
}

.wrapper-button-form {
  width: 100%;
}

.title-changepass {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  color: #334155;
  display: flex;
  align-items: center;
  gap: 20px;
}

.wrapper-title-changepass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-key {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: #f1e9fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-X {
  background-color: #f1f5f9;
}
